<div class="card">
  <div class="card-header">
    Conversa com todos
  </div>
  <div class="card-body">
    <virtual-scroll [items]="messages" (update)="scrollList = $event">
      <message-card (delete)="remove($event)" [userCurrent]="user" *ngFor="let message of messages" [message]="message"></message-card>
    </virtual-scroll>
  </div>
  <div class="card-footer text-muted">
    <form *ngIf="user" #formMessage="ngForm" (ngSubmit)="sendMessage(formMessage)">
      <div class="input-group">
        <input [(ngModel)]="message" name="message" type="text" class="form-control" placeholder="Digite sua mensagem" required>
        <span class="input-group-btn">
          <button class="btn btn-primary" [disabled]="!formMessage.valid" type="submit">Enviar</button>
        </span>
      </div>
    </form>
  </div>
</div>
